.bottom{
    float: left;
    height: 300px;
    margin: 0 auto;
    width:960px;
    background: #091783;
    -moz-box-shadow: blue 2px 2px 10px;
    -webkit-box-shadow: blue 2px 2px 10px;
    box-shadow: blue 2px 2px 10px;
}